.forms-lightbox-icon {
    background-color: #F4F5FB;
    color: var(--text-color-700);
    font-family: var(--fas-font);
    width: 32px;
    height: 32px;
    text-align: center;
}

.forms-lightbox-close {
    background: white;
    color: var(--text-color-500);
    padding: 4px;
    width: 34px;
    height: 34px;
    border: none;
    outline: none !important;
    font-size: 16px;
}

.forms-lightbox-close:hover {
    color: var(--text-color-800);
} 

.forms-lightbox-content {
    color: var(--text-color-500);
    font-size: 14px;
}

.forms-lightbox-buttons button {
    border-radius: 2rem;
    color: var(--text-color-500);
}

.forms-lightbox-buttons .btn-positive {
    background-color: var(--text-color-700);
    color: white !important;
}

.forms-lightbox-buttons .btn-positive:hover {
    background-color: var(--text-color-800);
}

.forms-lightbox-buttons .btn-negative {
    background-color: #F4F5FB;
}