


.carousel-mini-map {
    overflow: hidden;
}

.carousel-mini-map::before {
    content: "";
    position: absolute;
    top: 28%;
    left: 20px;
    right: 20px;
    width: auto;
    height: 1px;
    max-height: 1px;
    background-color: var(--text-color-400);
    opacity: .25;
    transform: translateY(-28%);
    z-index: 1;
    display: inline-block;
}

.carousel-mini-map button {
    z-index: 10;
    position: relative;
    border-radius: 2rem;
    height: 30px;
    width: 30px;
    max-width: 30px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: white;
    color: #EBEBED;
    font-size: 14px;
}

.carousel-mini-map button.mini-map-slider {
    font-size: 16px;
    color: var(--text-color-400);
}

.carousel-mini-map button:hover {
    color: var(--text-color-400);
}

.carousel-mini-map button.mini-map-slider:hover {
    color: var(--text-color-700);
}

.carousel-mini-map .mini-map-pin i::before {
    font-family: var(--fas-font);
    content: '\f111';
}

.carousel-mini-map .mini-map-pin.active i::before {
    font-family: var(--fas-font);
    content: '\f192';
    color: var(--base-primary-dark);
}

.carousel-mini-map button.mini-map-slider:hover::after,
.carousel-mini-map .mini-map-pin::after {
    content: attr(data-label);
    position: absolute;
    top: 32px;
    font-size: 12px;
    height: fit-content;
    width: fit-content;
    min-width: 100px;
}

.carousel-mini-map .mini-map-pin.active::after {
    color: var(--base-primary-dark);
}

