/*
==============================================
            MESSAGEBOX BASE STYLES
==============================================
*/

.messagebox-icon {
    font-family: var(--fas-font);
    width: 32px;
    height: 32px;
    text-align: center;
}

.messagebox-close 
{
    background: white;
    color: var(--text-color-500);
    padding: 4px;
    width: 34px;
    height: 34px;
    border: none;
    outline: none !important;
    font-size: 16px;
}

.messagebox-close:hover {
    color: var(--text-color-800);
} 

.messagebox-content {
    color: var(--text-color-500);
    font-size: 14px;
}

.messagebox-buttons button {
    border-radius: 2rem;
    color: var(--text-color-500);
}
/*
==============================================
           MESSAGEBOX OVERRIDE STYLES
==============================================
*/

/* INFO MESSAGEBOX */
.messagebox-info .messagebox-icon {
    background-color: #DBEAE6;
    color: var(--base-primary-dark);
}

.messagebox-info .messagebox-icon::before {
    content: '\f05a';
}

.messagebox-info .messagebox-buttons .btn-positive {
    background-color: var(--base-primary-dark);
    color: white;
}

.messagebox-info .messagebox-buttons .btn-positive:hover {
    background-color: #12BE57;
}

.messagebox-info .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}

/* WARNING MESSAGEBOX */
.messagebox-warn .messagebox-icon {
    background-color: #F3F1F1;
    color: #FFAC34;
}

.messagebox-warn .messagebox-icon::before {
    content: '\f071';
}

.messagebox-warn .messagebox-buttons .btn-positive {
    background-color: #FFAC34;
    color: white;
}

.messagebox-warn .messagebox-buttons .btn-positive:hover {
    background-color: #FF9534;
}

.messagebox-warn .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}

/* DANGER MESSAGEBOX */
.messagebox-danger .messagebox-icon {
    background-color: #F6E1E4;
    color: #FE1D42;
}

.messagebox-danger .messagebox-icon::before {
    content: '\f071';
}

.messagebox-danger .messagebox-buttons .btn-positive {
    background-color: #FE1D42;
    color: white;
}

.messagebox-danger .messagebox-buttons .btn-positive:hover {
    background-color: #FE3D53;
}

.messagebox-danger .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}