.messagebox .modal-content {
    height: fit-content !important;
    min-height: fit-content !important;
}

/* INFO MESSAGEBOX */
.messagebox-info .messagebox-icon {
    background-color: #D5EFE3;
    color: var(--base-primary-dark);
}

.messagebox-info .messagebox-icon::before {
    content: '\f05a';
}

.messagebox-info .messagebox-buttons .btn-positive {
    background-color: var(--base-primary-dark);
    color: white;
}

.messagebox-info .messagebox-buttons .btn-positive:hover {
    background-color: #12BE57;
}

.messagebox-info .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}

/* WARNING MESSAGEBOX */
.messagebox-warn .messagebox-icon {
    background-color: #FEEDD0;
    color: #FFAC34;
}

.messagebox-warn .messagebox-icon::before {
    content: '\f071';
}

.messagebox-warn .messagebox-buttons .btn-positive {
    background-color: #FFAC34;
    color: white;
}

.messagebox-warn .messagebox-buttons .btn-positive:hover {
    background-color: #FF9534;
}

.messagebox-warn .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}

/* DANGER MESSAGEBOX */
.messagebox-danger .messagebox-icon {
    background-color: #F6E1E4;
    color: #FE1D42;
}

.messagebox-danger .messagebox-icon::before {
    content: '\f071';
}

.messagebox-danger .messagebox-buttons .btn-positive {
    background-color: #FE1D42;
    color: white;
}

.messagebox-danger .messagebox-buttons .btn-positive:hover {
    background-color: #FE3D53;
}

.messagebox-danger .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}