.messagebox .modal-content {
    height: fit-content !important;
    min-height: fit-content !important;
}

/* PRIMARY MESSAGEBOX */
.messagebox-primary .messagebox-icon {
    background-color: #D5EFE3;
    color: var(--flat-color-primary-dark);
}

.messagebox-primary .messagebox-icon::before {
    content: '\f05a';
}

.messagebox-primary .messagebox-buttons .btn-positive {
    background-color: var(--flat-color-primary-dark);
    color: white;
}

.messagebox-primary .messagebox-buttons .btn-positive:hover {
    background-color: var(--flat-color-primary);
}

.messagebox-primary .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}

/* WARNING MESSAGEBOX */
.messagebox-warn .messagebox-icon {
    background-color: #FEEDD0;
    color: var(--flat-color-warning);
}

.messagebox-warn .messagebox-icon::before {
    content: '\f071';
}

.messagebox-warn .messagebox-buttons .btn-positive {
    background-color: var(--flat-color-warning);
    color: white;
}

.messagebox-warn .messagebox-buttons .btn-positive:hover {
    background-color: var(--flat-color-warning-600);
}

.messagebox-warn .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}

/* DANGER MESSAGEBOX */
.messagebox-danger .messagebox-icon {
    background-color: #F6E1E4;
    color: var(--flat-color-danger);
}

.messagebox-danger .messagebox-icon::before {
    content: '\f071';
}

.messagebox-danger .messagebox-buttons .btn-positive {
    background-color: var(--flat-color-danger);
    color: white;
}

.messagebox-danger .messagebox-buttons .btn-positive:hover {
    background-color: var(--flat-color-danger-300);
}

.messagebox-danger .messagebox-buttons .btn-negative {
    background-color: #F4F5FB;
}

.messagebox-content .emphasized {
    font-weight: 600;
    font-style: italic;
}