.modal-forms .input-text 
{
    background-color: #F4F5FB;
    border-radius: 2rem;
    box-shadow: 0 0 0 1px #EBEBED;
    padding: 6px 18px;
    display: flex;
    align-items: center;
}

.modal-forms .input-text.has-error 
{
    background-color: #FBD3D4;
    box-shadow: 0 0 0 1px #FA8E96;
    color: #FF283D;
}

.modal-forms .input-text input 
{
    color: var(--text-color-800);
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

.modal-forms .input-text:focus-within {
    box-shadow: 0 0 0 1px var(--flat-control-bg);
    background-color: #FBFBFD;
}

/* .modal-forms .input-trailing-icon {
    display: none;
} */