 .overflow-y-auto {
    overflow-y: auto;
 }

.navbar-item-link-button
{
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: #737373 !important;
    font-family: var(--base-font-condensed-bold), sans-serif !important; 
}

.navbar-item-link-button:hover 
{
    color: var(--base-primary-color) !important;
    background-color: #FCFDFE !important;
}

.center-flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-none
{
    display: none;
}

.overflow-lg-y-auto {
    overflow-y: hidden; /* Default to hidden */
}

@media screen and (max-width: 1200px) {
    .overflow-lg-y-auto {
        overflow-y: auto !important; /* Apply auto when width <= 1200px */
    }
}

.i-drop-down button.dropdown-toggle
{
    background-color: #E2E2E2 !important;
}

.i-drop-down .dropdown-menu li:hover a,
.i-drop-down .dropdown-menu li:hover button,
.i-drop-down-no-bg .dropdown-menu li:hover a
{
    color: var(--base-primary-color) !important;
}
