 .flat-input .input-text,
 .flat-input .input-text-plain {
    background-color: #F4F5FB;
    border-radius: 2rem;
    box-shadow: 0 0 0 1px #EBEBED;
    padding: 6px 18px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
 }

 .flat-input .input-text.has-error {
    background-color: #FBD3D4;
    box-shadow: 0 0 0 1px #FA8E96;
 }

 .flat-input .input-text.has-error .input-trailing-icon 
 {
   display: inline;
   color: #FF283D;  
 }

 .flat-input .input-text:not(.has-error) .input-trailing-icon {
   display: none;
 }

 .flat-input .input-text input::placeholder {
    color: #CCD1D9;
 }

 .flat-input .input-text.has-error input::placeholder {
    color: #FA6883;
 }

 .flat-input .input-text.has-error input:focus::placeholder {
    color: #CCD1D9;
 }

 .flat-input .input-text input {
    color: var(--text-color-800);
    background: none;
    outline: none;
    border: none;
    width: 100%;
    line-height: normal;
 }

 .flat-input .input-text:focus-within {
    box-shadow: 0 0 0 1px var(--flat-control-bg);
    background-color: #FBFBFD;
 }