.permission-select label 
{
    height: 25px;
    padding: 2px 12px;
    width: 400px;
    max-width: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: #ebedef;
    color: #40464f;
} 

.perm-legend-full,
.permission-select .btn-check:checked[checked-color='success'] + label {
    background-color: var(--flat-color-primary-dark);
}

.perm-legend-denied,
.permission-select .btn-check:checked[checked-color='danger']  + label {
    background-color: var(--flat-color-danger);
}

.perm-legend-write,
.permission-select .btn-check:checked[checked-color='warning'] + label {
    background-color: var(--flat-color-warning);
}

.perm-legend-read,
.permission-select .btn-check:checked[checked-color='primary'] + label {
    background-color: #2c58a0;
}

.perm-legend-modify,
.permission-select .btn-check:checked[checked-color='indigo'] + label {
    background-color: #5954E7;
}

.permission-select .btn-check:checked[checked-color='success'] + label::before { content: '\f521'; }
.permission-select .btn-check:checked[checked-color='danger']  + label::before { content: '\f05e'; }
.permission-select .btn-check:checked[checked-color='warning'] + label::before { content: '\f304'; }
.permission-select .btn-check:checked[checked-color='primary'] + label::before { content: '\f02e'; }
.permission-select .btn-check:checked[checked-color='indigo']  + label::before { content: '\f013'; }

.permission-select .btn-check:checked + label { color: white; }
.permission-select .btn-check:checked + label::before 
{
    font-family: var(--fas-font);
    margin-right: 4px;
    font-size: 10px;
}

.permission-select {
    cursor: not-allowed;
}

.permission-select .btn-check:not(:disabled) + .btn {
    cursor: pointer !important;
}

.perm-legend {
    border-radius: 2rem;    
    padding: 2px 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perm-legend i {
    font-size: 10px;
}