.flat-select-button {
    background-color: var(--flat-control-bg) !important;
    padding: 0 16px 1px;
    border-radius: 2rem !important;
    font-weight: 600;
    color: var(--text-color-500) !important;
    box-shadow: none !important;
    font-size: 0.8125rem;
    text-align: center;
    line-height: normal;
    height: 36px;
}

.flat-select-button.no-text {
    padding: 1px 2px 0 2px;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flat-select-button:not(.drop-arrow-none)::after {
    border: none;
    font-family: var(--fas-font);
    content: '\f078';
    padding-left: 6px;
    position: relative;
    bottom: -0.186rem;
}

.flat-select-button.drop-arrow-none::after {
    content: none;
}

.flat-select-button:hover,
.flat-select-button:active,
.flat-select-button:focus {
    background-color: #DBDBDE !important;
    color: var(--text-color-800) !important;
}

.flat-select .dropdown .dropdown-menu .dropdown-item {
    color: var(--text-color-500);
}

.flat-select .dropdown .dropdown-menu .dropdown-item:hover {
    color: var(--flat-color-primary-dark);
}

.flat-select .dropdown .dropdown-menu .dropdown-item.active {
    background-color: var(--flat-color-primary-dark);
    color: white;
}
.flat-select .dropdown .dropdown-menu .dropdown-item.active::after {
    font-family: var(--fas-font);
    content: '\f00c';
    float: right;
    position: relative;
}