/*
=======================
   SIDEBAR CONTAINER
=======================
*/
.sidebar 
{
    width: 250px;
    height: 100%;
    max-width: 250px;
    min-width: 250px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 27px 0px;
    display: flex;
    flex-flow: column;
    user-select: none;
    opacity: 1;
    transition: 
        left 0.25s ease-in-out, 
        width 0.25s ease-in-out, 
        min-width 0.25s ease-in-out,
        opacity 0.25s ease-in-out;
}

/* @media (max-width: 1199px) 
{
    .sidebar {
        min-width: 0;
        width: 0;
        left: 0;
        opacity: 0;
        position: fixed;
    } 
    
    .floating-sidebar-show {
        display: block !important;
    }
} */

.sidebar .separator {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4), transparent);
}

/*
==== SIDEBAR HEADER ====
*/
.sidebar-header {
    height: 4.875rem;
    flex: 0 1 auto;
}

.sidebar-brand {
    padding: 1.5rem 2rem;
}

.sidebar-brand .brand-text {
    font-size: 14px;
    font-weight: 600 !important;
    color: var(--text-color-700);
}

/*
==== SIDEBAR LINKS ====
*/
.sidebar-links {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.sidebar-links .navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0px 1rem;
    font-weight: 400;
    color: var(--text-color-500);
    font-size: 0.875rem;
}

.sidebar-links .navbar-nav .nav-item .nav-link .icon {
    background-image: linear-gradient(310deg, rgb(233, 236, 239), rgb(233, 236, 239));
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 0.5rem;
    color: #3A416F;
}

.sidebar-links .navbar-nav .nav-item.active .nav-link .icon {
    /* background-image: linear-gradient(310deg, var(--base-primary-color), var(--base-primary-dark)); */
    /* background-image: linear-gradient(310deg, var(--base-primary-dark), var(--base-primary-dark)); */
    background-image: linear-gradient(310deg, #24B574, var(--base-primary-color));
    color: white;
}

.sidebar-links .navbar-nav .nav-item.active .nav-link .nav-link-text {
    font-weight: 600;
    color: var(--text-color-800);
}

/* BACKGROUND FADE */
.sidebar-links .navbar-nav .nav-item:not(.active):hover {
    background-image: linear-gradient(90deg, transparent, #DAEEE1, transparent);
}

.sidebar-links .navbar-nav .nav-item:hover .icon {
    background-image: linear-gradient(310deg, white, white);
}

/* INSET BORDER FADE */
.sidebar-links .navbar-nav .nav-item:not(.active):hover::before,
.sidebar-links .navbar-nav .nav-item:not(.active):hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, transparent, #CCEAD2, transparent);
}

.sidebar-links .navbar-nav .nav-item {
    margin-top: 0.125rem;
}

.sidebar-collapse .btn-collapse-sidebar 
{
    background: white;
    font-weight: 900;
    width: 45px;
    height: 45px;
    font-size: 14px;
    border-radius: 50px;
    padding: 0;
    color: #3A416F;
    transition: background 0.25s ease-in-out;
}

.sidebar-collapse .btn-collapse-sidebar:hover,
.floating-sidebar-show button:hover {
    background-color: var(--text-color-800);
    color: white;
}

.floating-sidebar-show:hover {
    opacity: 1;
    left: 0;
}

.floating-sidebar-show 
{
    position: fixed;
    top: 5%;
    left: -22px;
    z-index: 100;
    display: none;
    opacity: .45;
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.floating-sidebar-show button {
    border-radius: 50px;
    width: 45px;
    height: 45px;
    max-width: 45px;
    max-height: 45px;
    padding: 0;
    background-color: #3A416F;
    color: white;
    font-size: 14px;
}